/*fonts*/

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/FuturaDemiC.eot');
    src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
    url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaDemiC.woff') format('woff'),
    url('../fonts/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
    url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaMediumC.woff') format('woff'),
    url('../fonts/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* base */
html {
    font-size: 10px;
}

body {
    font-family: 'FuturaDemiC', sans-serif;
}


.flexible {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
}

/*  navbar */

.navbar {
    width: 100%;
    padding: 1.4rem 5rem;
    box-shadow: 2px 2px 4px 2px #b3b0b0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #fff;
    align-items: baseline;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    margin-bottom: 0;
}

.navbar_fixed-top {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar__item_left {
    margin-right: 3.3rem;
}

.navbar__item_right {
    margin-left: 3.3rem;
}

.navbar__image {
    width: 12rem;
}

.navbar__list {
    width: 94rem;
}

/* list */

.list {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    font-size: 1.4rem;
    list-style-type: none;

}

.list__item {
    color: #b0afab;
    margin: 0 1.8rem;

}

.list__item:last-child {
    margin-right: 0;
}

.list__item:first-child {
    margin-left: 0;
}

.list__item-img {
    width: 5.6rem;
    height: 5.6rem;
    margin-bottom: 0.5rem;
}

.list__item-link {
    color: inherit;
    display: block;
    text-align: center;
}

.list__item-link:hover {
    text-decoration: none;
    color: #49453c;
}

.list__item:hover {
    color: #49453c;
}

.list__item_active {
    color: #49453c;
}

.list__item-underline {
    opacity: 0;
    margin: 0 auto;
    height: 2px;
    background-color: #e6b82e;
    width: 90%;

}

.list__item-underline_long {
    width: 100%
}

.list__item:hover .list__item-underline,
.list__item_active .list__item-underline {
    opacity: 1;
}

/* button */

.btn {
    font-size: 1rem;
    border: 1px solid #000000;
    border-radius: 1.45rem;
    padding: 0.72rem 1.7rem;
    line-height: 1.4;
}

.btn_yellow {
    border-color: #e6b82e;
    background-color: #e6b82e;
    color: #fff;
}

.btn_yellow-brd {
    border-color: #e6b82e;
    color: #fff;
}

.btn_yellow:hover,
.btn_yellow-brd:hover {
    color: #fff;
}

.btn_white {
    border-color: #fff;
    background-color: #fff;
    color: #000;
}

.btn_white:hover {
    color: #000;
}

/* section */

.section {
    width: 100%;
    padding: 3rem 0;
    background-color: #fff;
    flex-direction: column;
}

.section_not-margin-btm {
    padding-bottom: 0;
}
.section:first-of-type {
    padding-top: 6rem;
}

.section_relative {
    position: relative;
}

.section__content {
    width: 94rem;
}

.section__content_long {
    width:110rem;
}

.section__content_collapse {
    width: 100%;
}

/*intro*/

.intro {
    height: 35rem;
    background-color: #e6b82e;
    position: relative;
}

.intro__text-block {
    display: block;
    position: absolute;
    width: 24.8rem;
    color: #fff;
    left: 3.1rem;
}

.intro__text-block_head {
    font-size: 2.3rem;
    font-weight: 600;
    left: 3.1rem;
    top: 5.4rem;
}

.intro__text-block_sub-head {
    font-size: 1.73rem;
    top: 16rem;
}

.intro__image-block {
    height: 100%;
    float: right;
    width: 65%;
    background-image: url("../img/intro/0011.png");
    background-size: contain;
}

.intro__button {
    left: 3.1rem;
    top: 22rem;
    position: absolute;
    padding: 0.72rem 3.3rem;
}

/* skills*/
.skills {
    width: 84%;
    border: 1px solid #e6b82e;
    margin: 6.6rem auto;
    padding: 1.6rem 3.1rem;
    background-color: #fff;
}

.skills__item {
    width: 23rem;
}

.skills_text {
    display: inline-block;
    width: 16.4rem;
    font-size: 1.1rem;
    line-height: 1.8;
}

.skills__icon {
    display: inline-block;
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 1.2rem;
    vertical-align: text-bottom;

}

/* icons*/

.icon-time {
    background-image: url("../img/intro/Icon 1.png");
    background-size: cover;
}

.icon-tool {
    background-image: url("../img/intro/Icon 3.png");
    background-size: cover;
    width: 4.1rem;
}

.icon-five {
    background-image: url("../img/intro/Icon 2.png");
    background-size: cover;
}

/* projects */

.projects__header {
    display: inline-block;
    font-size: 7.2rem;
    font-weight: 400;
    margin-left: -3px;
}

.projects__sub-header {
    display: inline-block;
    font-size: 1.5rem;
    width: 66rem;
}

.projects__preview {
    margin-top: 3rem;
}

.projects__row {
    margin-top: 2.3rem;
}

.projects__row:first-child {
    margin-top: 0;
}

.projects__preview-item {
    width: 30rem;
    height: 30rem;
    position: relative;
}

.projects__preview-img {
    width: 100%;
}

.projects__preview-shade {
    height: 100%;
    width: 100%;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.projects__preview-item:hover > .projects__preview-shade {
    opacity: 1;
}

.projects__preview-btn {
    margin-top: 1.5rem;
    font-size: 1.4rem;
    padding: 0.5rem 2.9rem;
}

.projects__preview-text {
    margin: 12rem auto 0;
    font-weight: 600;
    color: #fff;
    font-size: 2.6rem;
    display: block;
    text-align: center;
}

.projects__preview-text::before {
    content: '<<';
    font-size: 1.5rem;
}

.projects__preview-text::after {
    content: '>>';
    font-size: 1.5rem;
}

.projects__btn-group {
    text-align: center;
    margin-top: 2.8rem;
}

.projects__catalog-btn {
    font-size: 1.4rem;
    padding: 0.5rem 3.6rem;
    color: #000;
}

.projects__catalog-btn:hover {
    color: #000;
}

/* materials */
.materials {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.3rem;
    flex-direction: column;
}

.materials__header {
    font-size: 7.2rem;
    margin-top: 8.8rem;
    line-height: 1;
}

.materials__sub-header {
    display: block;
    font-size: 1.5rem;
    width: 70rem;
    margin-top: 2.2rem;
    line-height: 1.8;
}

.materials_offer {
    font-size: 3.45rem;
    margin-top: 3.8rem;
    font-weight: 600;
    line-height: 1;
}

.materials__selector {
    margin-top: 3.6rem;
}

.materials__selector-list {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.materials__property {
    margin-top: 2.8rem;
    display:inline-block;
}

.materials__property-item {
    margin-top: 3.2rem;
}

.materials__property-name {
    font-size: 1.5rem;
    font-weight: 400;
}

.materials__property-scale {
    margin-top: 1.2rem;
}

.materials__description {
    display:inline-block;
    margin-bottom: 3.5rem;
    margin-left: 10rem;
}

.materials__description-head {
    font-size: 1.6rem;
    font-weight: 600;
    display: block;
}

.materials__description-content {
    font-size: 1.5rem;
    line-height: 1.7;
    width: 37rem;
    margin-top: 1.8rem;
    display: block;
}


/* scale */

.scale {
    position: relative;
    height: 6px;
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.scale__value {
    top: -1px;
    left: -1px;
    height: 6px;
    position: absolute;
    background-color: #e6b82e;
    border-color: #e6b82e;
    width: 0;
    transition: width 1s ease-in-out;
}

.scale__value_1 {
    width: 6rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_2 {
    width: 12rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_3 {
    width: 18rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_4 {
    width: 24rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_5 {
    width: 30rem;
    border-radius: 3px;
}

/* safety */
.safety {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top: 4.3rem;
    flex-direction: column;
    background-image: url("../img/safety/child.png");
    background-size: 62.4rem  44.4rem;
    background-repeat: no-repeat;
    min-height: 55rem;
    background-position: 11rem 14rem;
    position:relative;
}

.safety__header {
    font-size: 7.2rem;
    margin-top: 4.8rem;
    line-height: 1;
}

.safety__sub-header {
    display: block;
    font-size: 1.5rem;
    width: 64rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.safety__description {
    display: block;
    font-size: 1.4rem;
    width: 33rem;
    margin-top: 2.2rem;
    line-height: 1.5;
}

.safety__info-block {
    top: 34.7rem;
    left: 63rem;
    position: absolute;
    width: 31.5rem;
    height: 16.4rem;
    background-color: #e6b82e;
    padding: 1.4rem 2.4rem;
}

.safety__info-text {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#fff;
}

.safety__properties {
    margin-top: 28rem;
    width: 100%;
}

.safety__properties-item {
    width: 29.1rem;
    height: 29.1rem;
    box-shadow: 1px 1px 2px 1px #e8e4e4;
    padding: 2.7rem 2.36rem;
    text-align: center;
}

.safety__properties-img {
    width: 6.47rem;
    margin-top: 3.9rem;
}

.safety__properties-text {
    margin-top: 4.56rem;
    font-size: 1.3rem;
    display:block;
}

/* history */

.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top: 4.3rem;
    flex-direction: column;
    min-height: 55rem;
    position:relative;
}

.history__header {
    font-size: 7.2rem;
    width:32.8rem;
    margin-top: 4.8rem;
    line-height: 1;
    color:#fff;
}

.history__sub-header {
    display: block;
    font-size: 1.5rem;
    width: 59rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color:#fff;
}

.history__info-block {
    margin-top: 3.4rem;
    width: 33.5rem;
    height: 15.4rem;
    background-color: #fff;
    padding: 1.4rem 2.4rem;
}

.history__info-text {
    font-size: 1.4rem;
    color:#000;
}

/* workflow */
.workflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top: 4.3rem;
    flex-direction: column;
}


.workflow__header {
    font-size: 7.2rem;
    width:40.28rem;
    margin-top: 4.8rem;
    line-height: 0.9;
}

.workflow__sub-header {
    display: block;
    font-size: 2.5rem;
    width: 59rem;
    margin-top: 2.2rem;
    line-height: 1.5;
}

.workflow__quality {
    width: 100%;
    margin-top: 5.7rem;
    background-image: url("../img/workflow/Illustration_1.svg");
    background-size: 95rem;
    background-repeat: no-repeat;
    min-height: 25rem;
}

.workflow__description {
    font-family: 'Proxima Nova Rg', sans-serif;
    display: block;
    font-size: 1.4rem;
    width: 57rem;
    margin-top: 2.2rem;
    line-height: 1.5;
}

.workflow__orders {
    width:100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 4.3rem;
    flex-direction: row;
}
.workflow__order {
    display:block;
    width:29.2rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.26rem;
    line-height: 1.8;
}

/* logistic */

.logistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    flex-direction: column;
    min-height: 63rem;
}

.logistic__header {
    font-size: 6.2rem;
    width:40.28rem;
    margin-top: 38.8rem;
    margin-left: 34.3rem;
    line-height: 0.9;
    font-family: 'FuturaDemiC', sans-serif;
}

.logistic__sub-header {
    display: block;
    font-size: 1.4rem;
    width: 70%;
    margin-top: 2.2rem;
    margin-left: 34.3rem;
    line-height: 1.5;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.logistic__description-block {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.2rem;
    margin-left: 34.3rem;
    width:70%;
}

.logistic__description-item {
    color: #d94b38;
    width: 30.2rem;
    display: block;
    font-size: 1.3rem;
}

.logistic-footer {
    margin: 6.2rem 0 6rem 0;
    align-items: baseline;
}
.logistic-footer__slogan-block {
    align-self: center;
    width:31.5rem;
    padding:2.4rem;
    margin-top: 3rem;
    background-color: #e6b82e;
}

.logistic-footer__slogan-text {
    color:#fff;
    font-size: 2.5rem;
}

.logistic-footer__symbols {
    padding: 0 14rem 0 6rem;
}

.logistic-footer__symbols-item:first-child {
    margin-left: 0;
}

.logistic-footer__symbols-item:last-child {
    margin-right: 0;
}

.logistic-footer__symbols-img {
    display:block;
    margin: 0 auto 2rem;

}
.logistic-footer__symbols-text {
    display: block;
    text-align: center;
    width:90%;
    margin: 0 auto;
}


.icon1 {
    width:9rem;
    margin-top: 1.4rem;
}

.icon2 {
    width:7rem;
}

.icon3 {
    width: 8rem;
    margin-top: 2.6rem;
}

/* team block */
.team__header {
    font-size: 6.2rem;
    width:23.28rem;
    margin-top: 10.8rem;;
    line-height: 0.9;
    font-family: 'FuturaDemiC', sans-serif;
    display:block;
}

.team__persons {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-top: 5.5rem;
}

.team__persons-item {
    text-align:center;
}

.team__person-img {
    width:18rem;
}

.team__person-name {
    display: block;
    text-align: center;
    font-size: 2.1rem;
    color:#fff;
    font-family: 'FuturaDemiC', sans-serif;
}

.team__person-speciality {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color:#fff;
    font-family: 'Proxima Nova Rg', sans-serif;

}

.team__description {
    width:100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 6.3rem;
    flex-direction: row;
}
.team__description-item {
    display:block;
    width:29.2rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.26rem;
    line-height: 1.8;
    margin-right: 1rem;
}

.team__description-item:last-child {
    margin-right:0;
}

/* feedback */

.feedback__header {
    font-size: 6.2rem;
    width:23.28rem;
    margin-top: 10.8rem;;
    line-height: 0.9;
    font-family: 'FuturaDemiC', sans-serif;
    display:block;
}

.feedback__sub-header {
    display: block;
    font-size: 2.5rem;
    width: 59rem;
    margin-top: 7.2rem;
    line-height: 1.5;
}

.feedback_drag-drop-img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 45rem;
    height:100%;
    flex-direction: column;
}

.feedback__content {
    margin-top: 4rem;

}

.feedback__content-item_stretch {
    align-self: stretch;
}

.feedback__button {
    margin-top: 2rem;
    padding: 0.3rem 2.4rem;
    font-size: 1.6rem;
}
.feedback__text {
    color: rgba(70, 68, 63, 0.7);
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    width:27rem;
}
.feedback__img {
    width:11rem;
    height:9rem;
}
/* form */
.form{
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form__input {
    padding: 0.5rem 1.8rem;
    width: 45rem;
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: "Proxima Nova", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2.6rem;
}

.form__input:first-child {
    margin-top:0;
}

.form__input_textarea {
    resize:none;
    height: 10.8rem;
}


/* styles for support */

.backgrounded {
    background-image: url("../img/history/Pic_1.png");
    background-size: cover;
    min-height: 64.8rem;
}

.backgrounded-team {
    background-image: url(../img/team/bg.png);
    background-size: 100% 22rem;
    background-position-y: 63%;
    background-repeat: no-repeat;
}

.wood {
    position: absolute;
    right: 0;
    top: 17rem;
    background-image: url("../img/materials/wood.png");
    height: 67rem;
    width: 38.1rem;
    background-size: cover;
}

.auto_img {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/logistic/pic1.png");
    height: 76rem;
    width: 45.1rem;
    background-size: cover;

}