/*fonts*/

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Regular.woff') format('woff'),
    url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ProximaNova-Bold.woff') format('woff'),
    url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/FuturaDemiC.eot');
    src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
    url('../fonts/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaDemiC.woff') format('woff'),
    url('../fonts/FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
    url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaMediumC.woff') format('woff'),
    url('../fonts/FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


/* animation */

@keyframes menu_open {   /* назовём анимацию: "go-left-right" */
    from {
        left: -80%;
    }
    to {
        left: 0;
    }
}

/* Префикс для Chrome, Opera, Safari */
@-webkit-keyframes menu_open {
    from {
        left: -80%;
    }
    to {
        left: 0;
    }
}

/* base */
html {
    font-size: 10px;
}

body {
    font-family: 'FuturaDemiC', sans-serif;
    background-color: #fff;
}

/* хром, сафари */
body::-webkit-scrollbar { width: 0; }

/* ie 10+ */
body { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
body { overflow: -moz-scrollbars-none; }

a:focus {
    color: #000;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
}

.header {
    font-family: 'FuturaDemiC', sans-serif;
    font-size: 7.2rem;
    font-weight: 400;
}

.flexible {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
}

#load_content {
    display:none;
}


.loaderInner {
    background:#ffffff url(../img/spinner.gif) center center no-repeat;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;
}


/* mobile header */

.mobile-header {
   display:none;
    background-color: #e6b82e;
    padding: 1.5rem;
    position: fixed;
    width: 100%;
    z-index: 1000;

}
.mobile-header__icon {
    width:2rem;
    height:2rem;
    background-size: contain;
    background-repeat: no-repeat;
    cursor:pointer;
    background-repeat: no-repeat;
}

/* icons */
.closed {
    background-image: url(../img/close.png);
}

.burger{
    background-image: url(../img/burger.png);
}
.phone {
    background-image: url(../img/phone.png);
}
.phone-Blck {
    background-image: url(../img/contacts/phone.svg);
}

.whatsApp {
    background-image: url(../img/whatsApp.svg);
}

.map_pointer {
    background-image: url(../img/contacts/map.svg);
}
/*  navbar */

.navbar {
    width: 100%;
    padding: 1.4rem 5rem;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: #f6f6f6;
    align-items: baseline;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    margin-bottom: 0;
    font-family:'FuturaMediumC', sans-serif;
}

.navbar_fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index:50;
}

.navbar__item_left {
    margin-right: 3.3rem;
}

.navbar__item_right {
    margin-left: 3.3rem;
}

.navbar__image {
    width: 12rem;
}

.navbar__list {
    width: 94rem;
}

.navbar-mobile__overlay {
    display: block;
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: fixed;
    z-index: 2000;
}

.navbar-mobile__overlay_open {
    width:100%;

}
.navbar-mobile__contacts,
.navbar-mobile_ylw {
    display:none;
}
    /* list */

.list {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    font-size: 1.4rem;
    list-style-type: none;
    font-family:'FuturaMediumC', sans-serif;

}

.list__item {
    color: #b0afab;
    margin: 0 1.8rem;
    cursor: pointer;

}

.list__item:last-child {
    margin-right: 0;
}

.list__item:first-child {
    margin-left: 0;
}

.list__item-img {
    width: 5.6rem;
    height: 5.6rem;
    margin-bottom: 0.5rem;
}

.list__item-link {
    color: inherit;
    display: block;
    text-align: center;
}

.list__item-link:hover {
    text-decoration: none;
    color: #49453c;
}

.list__item:hover {
    color: #49453c;
}

.list__item_active {
    color: #49453c;
}

.list__item-underline {
    opacity: 0;
    margin: 0 auto;
    height: 2px;
    background-color: #e6b82e;
    width: 90%;

}

.list__item-underline_long {
    width: 100%
}

.list__item:hover .list__item-underline,
.list__item_active .list__item-underline {
    opacity: 1;
}

.list-material {
    cursor: pointer;
}

.list__icon{
    height:2rem;
    width:2rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 1.5rem;
}
/* button */

.btn {
    font-size: 1.4rem;
    border: 1px solid #000000;
    border-radius: 2rem;
    padding: 0.72rem 1.7rem;
    line-height: 1.4;
    font-family:'FuturaMediumC', sans-serif;
}

.btn_yellow {
    border-color: #e6b82e;
    background-color: #e6b82e;
    color: #fff;
}

.btn_yellow-brd {
    border-color: #e6b82e;
    color: #fff;
}

.btn_yellow:hover,
.btn_yellow-brd:hover {
    color: #fff;
}

.btn_white {
    border-color: #fff;
    background-color: #fff;
    color: #000;
}

.btn_white:hover {
    color: #000;
}

/* section */

.section {
    width: 100%;
    padding: 3rem 0;
    background-color: #fff;
    flex-direction: column;
}

.section_not-margin-btm {
    padding-bottom: 0;
}
.section:nth-of-type(2) {
    padding-top: 6rem;
}

.section_relative {
    position: relative;
}

.section__content {
    width: 94rem;
}

.section__content_long {
    width:110rem;
}

.section__content_grey {
    width:100%;
    background-color: #f6f6f6;
    justify-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;

}

.section__content_collapse {
    width: 100%;
}
.section_intro{
    display: none;
}
/*intro*/

.intro {
    height: 35rem;
    background-color: #e6b82e;
    position: relative;
    margin-top: 8rem;
}

.intro__text-block {
    display: block;
    position: absolute;
    width: 24.8rem;
    color: #fff;
    left: 3.1rem;
}

.intro__text-block_head {
    font-size: 2.5rem;
    line-height: 3rem;
    left: 3.1rem;
    top: 5.4rem;
}

.intro__text-block_sub-head {
    font-size: 1.73rem;
    top: 16rem;
    font-family:'FuturaMediumC', sans-serif;
}

.intro__image-block {
    height: 100%;
    float: right;
    width: 65%;
    background-image: url("../img/intro/0011.png");
    background-size: cover;
}

.intro__button {
    left: 3.1rem;
    top: 24rem;
    position: absolute;
    padding: 0.72rem 3.3rem;
    text-transform: uppercase;
}

.intro_mobile {
    display:none;
    flex-direction: column;
    justify-content: space-around;
    height:85vh;
    margin-top: 5vh;

}

.intro__logo-block {
    flex-direction: column;
}

.intro__header-mobile {
    display: block;
    font-size: 2.3rem;
    font-weight: 600;
    width: 70%;
    text-align: center;
    margin-top: 6rem;
}

.intro__sub-header-mobile {
    display: block;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.8rem;
    width: 70%;
    text-align: center;
    margin-top: 2rem;
}

.intro__img-mobile {
    width: 23rem;
}

.intro__button_mobile {
    font-size: 2rem;
    margin-top: 4rem;
    width: 80%;
    border-radius: 20px;
}

.intro__button_mobile-last {
    width: 70%;
    color:#000;
    margin-top: 2rem;
}


.intro__button_mobile-last:focus,
.intro__button_mobile-last:active,
.intro__button_mobile-last:hover {
    color:#000;
}
.intro__shewron-mobile {
    width:3rem;
    margin-top: 6rem;
}
/* skills*/
.skills {
    width: 84%;
    border: 1px solid #e6b82e;
    margin: 6.6rem auto;
    padding: 1.6rem 3.1rem;
    background-color: #fff;
}

.skills__header {
    display:none;
    font-size: 4.2rem;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.skills__item {
    width: 23rem;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center

}

.skills_text {
    display: inline-block;
    width: 13.4rem;
    font-size: 1.1rem;
    line-height: 1.8;
    font-family: "Proxima Nova Rg'", sans-serif;

}

.skills__icon {
    display: inline-block;
    width: 3.3rem;
    height: 3.3rem;
    margin-right: 1.2rem;
    vertical-align: text-bottom;

}

/* icons*/

.icon-time {
    background-image: url("../img/intro/Icon 1.png");
    background-size: cover;
}

.icon-tool {
    background-image: url("../img/intro/Icon 3.png");
    background-size: cover;
    width: 4.1rem;
}

.icon-five {
    background-image: url("../img/intro/Icon 2.png");
    background-size: cover;
}

/* projects */
.projects {
    margin-top: 5rem;
}

.projects__header {
    margin-left: -3px;
    margin-top: 5rem;
}

.projects__sub-header {
    display: inline-block;
    font-size: 1.4rem;
    width: 66rem;
    font-family:'Proxima Nova Rg', sans-serif;
}

.projects__preview {
    margin-top: 3rem;
}

.projects__row {
    margin-top: 2.3rem;
}

.projects__row:first-child {
    margin-top: 0;
}

.projects__preview-item {
    width: 30rem;
    height: 30rem;
    position: relative;
}

.projects__preview-img {
    width: 100%;
}

.projects__preview-shade {
    height: 100%;
    width: 100%;
    z-index: 25;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.projects__preview-item:hover > .projects__preview-shade {
    opacity: 1;
}

.projects__preview-btn {
    margin-top: 1.1rem;
    font-size: 1.4rem;
    padding: 0.5rem 2.9rem;
    text-transform:uppercase;
}

.projects__preview-text {
    margin: 12rem auto 0;
    font-weight: normal;
    color: #fff;
    font-size: 2.1rem;
    display: block;
    text-align: center;
    font-family: 'FuturaDemiC', sans-serif;
}

.projects__preview-text::before {
    content: '«';
    font-size: 2.1rem;
}

.projects__preview-text::after {
    content: '»';
    font-size: 2.1rem;
}

.projects__btn-group {
    text-align: center;
    margin-top: 2.8rem;
}

.projects__catalog-btn {
    font-size: 1.4rem;
    padding: 0.5rem 3.6rem;
    text-transform: uppercase;
}

/* cases */
.cases {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-position-x: 100%;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    opacity:0;
    transition: top, opacity 1s ease-in-out;
}

.cases__header {

    font-size: 5.2rem;
}

.cases_open {
    overflow:hidden;
}

.cases_opened {
    top:0;
    opacity:1;
    z-index: 100;
    transition: top, opacity 1s ease-in-out;
}

.cases__info {
    padding: 3rem 5.6rem 5rem;
    width:43%;
    height:100%;
}

.cases__position {
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
}
.cases__image {
    width:57%;
    height:100%;
    background-size: cover;
}

.cases__description {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 1.3rem;
    font-weight:normal;
    line-height: 2rem;
    margin-top: 2rem;
}
.cases__back-button {
    cursor: pointer;

}


/* preview mobile */
.preview-mobile {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding-top: 5rem;
    z-index: 9;
    overflow: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom:3rem;
}

.preview-mobile__nav {
    width:100%;
    padding: 0 5%;
}


.project__info-block {
    text-align: center;
}

.preview-mobile__content {
    flex-direction: column;
    background-color: #f6f6f6;
    padding:1rem 0 3rem;
}

.preview-mobile__img {
    width: 100%;
    background-size: cover;
    height:31rem;
}

.preview-mobile__nav-header{
    font-size: 4.2rem;
    font-family: "Proxima Nova Rg", sans-serif;

}

.preview-mobile__nav-btn {
    width: 2rem;
    height:5rem;
    font-size: 5rem;
    font-weight: bold;
}

.preview-mobile__nav-btn i {
    font-style: normal;
    line-height: 0.7;
    vertical-align: text-top;
}

.preview-mobile__description {
    width: 100%;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.5rem;
    margin: 2rem 0;
    display:block;
}
.preview-mobile__btn{
    align-self: center;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 0.5rem 6rem;
    border-radius: 2rem;
    margin-top: 2rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    cursor: pointer;
}

.preview-mobile__btn-blc,
.preview-mobile__btn-blc:hover {
    color:#000;
    border-width:3px;
    margin-top: 1rem;
}

.preview-mobile__navs-item {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    background-color: #dcdcdc;
}
.preview-mobile__navs {
    width:30%;
    margin-top: 1rem;
}

.preview-mobile__navs-item_active {
    background-color: #E6B82E;
}

/* materials */
.materials {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.3rem;
    flex-direction: column;
}

.materials__header {
    margin-top: 8.8rem;
    line-height: 1;
}

.materials__sub-header {
    display: block;
    font-size: 1.5rem;
    width: 70rem;
    margin-top: 2.2rem;
    line-height: 1.8;
    font-family: "Proxima Nova Rg", sans-serif;
}

.materials_offer {
    font-size: 3.45rem;
    margin-top: 3.8rem;
    line-height: 1;
}

.materials__selector {
    margin-top: 3.6rem;
}

.materials__selector-list {
    padding: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.materials__property {
    margin-bottom: 3.8rem;
    display:inline-block;
}

.materials__property-item {
    margin-top: 3.2rem;
}

.materials__property-name {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Proxima Nova Rg", sans-serif;
}

.materials__property-scale {
    margin-top: 1.2rem;
}

.materials__description {
    display:inline-block;
    margin-bottom: 3.5rem;
    margin-left: 10rem;
}

.materials__description-head {
    font-size: 1.6rem;
    font-weight: 700;
    display: block;
    font-family: "Proxima Nova Rg", sans-serif;
}

.materials__description-content {
    font-size: 1.5rem;
    line-height: 1.7;
    width: 37rem;
    margin-top: 1.8rem;
    display: block;
    font-family: "Proxima Nova Rg", sans-serif;
}


/* scale */

.scale {
    position: relative;
    height: 6px;
    width: 30rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.scale__value {
    top: -1px;
    left: -1px;
    height: 6px;
    position: absolute;
    background-color: #e6b82e;
    border-color: #e6b82e;
    width: 0;
    transition: width 1s ease-in-out;
}

.scale__value_1 {
    width: 6rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_2 {
    width: 12rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_3 {
    width: 18rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_4 {
    width: 24rem;
    border-radius: 3px 0 0 3px;
}

.scale__value_5 {
    width: 30rem;
    border-radius: 3px;
}

/* safety */
.safety {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top: 4.3rem;
    flex-direction: column;
    background-image: url("../img/safety/child.png");
    background-size: 62.4rem  44.4rem;
    background-repeat: no-repeat;
    min-height: 55rem;
    background-position: 11rem 14rem;
    position:relative;
}

.safety__header {
    margin-top: 4.8rem;
    line-height: 1;
}

.safety__sub-header {
    display: block;
    font-size: 1.5rem;
    width: 64rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "Proxima Nova Rg", sans-serif;
}

.safety__description {
    display: block;
    font-size: 1.4rem;
    width: 33rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    font-family: "Proxima Nova Rg", sans-serif;
}

.safety__info-block {
    top: 34.7rem;
    left: 63rem;
    position: absolute;
    width: 31.5rem;
    height: 16.4rem;
    background-color: #e6b82e;
    padding: 1.4rem 2.4rem;
}

.safety__info-text {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#fff;
    font-family: "Proxima Nova Rg", sans-serif;
}

.safety__properties {
    margin-top: 28rem;
    width: 100%;
}

.safety__properties-item {
    width: 29.1rem;
    height: 29.1rem;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.07);
    padding: 2.7rem 2.36rem;
    text-align: center;
}

.safety__properties-img {
    width: 6.47rem;
    margin-top: 3.9rem;
}

.safety__properties-text {
    margin-top: 4.56rem;
    font-size: 1.3rem;
    display:block;
    font-family: "Proxima Nova Rg", sans-serif;
}

.safety__properties-item:nth-child(2)  .safety__properties-text{
    margin-top: 3.7rem;
}
/* history */

.history {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top: 4.3rem;
    flex-direction: column;
    min-height: 55rem;
    position:relative;
}

.history__header {
    width:32.8rem;
    margin-top: 4.8rem;
    line-height: 1;
    color:#fff;
    font-family: 'FuturaDemiC', sans-serif;
}

.history__sub-header {
    display: block;
    font-size: 1.5rem;
    width: 59rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    text-transform: uppercase;
    color:#fff;
    font-family: "Proxima Nova Rg", sans-serif;
}

.history__info-block {
    margin-top: 3.4rem;
    width: 33.5rem;
    height: 15.4rem;
    background-color: #fff;
    padding: 1.4rem 2.4rem;
    font-family: "Proxima Nova Rg", sans-serif;
}

.history__info-text {
    font-size: 1.4rem;
    color:#000;
    display:none;
}

.history__info-text:first-child {
    display:block;
}
/* workflow */
.workflow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    margin-top: 4.3rem;
    flex-direction: column;
}


.workflow__header {
    width:40.28rem;
    margin-top: 4.8rem;
    line-height: 0.9;
}

.workflow__sub-header {
    display: block;
    font-size: 2.5rem;
    width: 59rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    font-family: 'FuturaDemiC', sans-serif;
    color: #46443f;
}

.workflow__quality {
    width: 100%;
    margin-top: 5.7rem;
    background-image: url("../img/workflow/Illustration_1.svg");
    background-size: 95rem;
    background-repeat: no-repeat;
    min-height: 25rem;
}

.workflow__quality_mobile {
    display: none;
    width: 100%;
    margin-top: 5.7rem;
    background-image: url(../img/workflow/Illustration.png);
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 50rem;
    background-position-x: 50%;
}

.workflow__description {
    font-family: 'Proxima Nova Rg', sans-serif;
    display: block;
    font-size: 1.4rem;
    width: 57rem;
    margin-top: 2.2rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.workflow__orders {
    width:100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 4.3rem;
    flex-direction: row;
}
.workflow__order {
    display:block;
    width:29.2rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.26rem;
    line-height: 1.8;
}

/* logistic */

.logistic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    flex-direction: column;
    min-height: 63rem;
}

.logistic__header {
    width:40.28rem;
    margin-top: 38.8rem;
    margin-left: 34.3rem;
    line-height: 0.9;
}

.logistic__sub-header {
    display: block;
    font-size: 1.4rem;
    width: 70%;
    margin-top: 2.2rem;
    margin-left: 34.3rem;
    line-height: 1.5;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.logistic__header_mobile {
   display:none;
}

.logistic__sub-header_mobile {
    display:none;
    font-size: 1.4rem;
    line-height: 1.5;
    font-family: 'Proxima Nova Rg', sans-serif;
}


.logistic__description-block {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.2rem;
    margin-left: 34.3rem;
    width:70%;
}

.logistic__description-item {
    color: #000;
    width: 30.2rem;
    display: block;
    font-size: 1.3rem;
    font-family: "Proxima Nova Rg", sans-serif;
}

.logistic-footer {
    margin: 6.2rem 0 6rem 0;
    align-items: baseline;
}
.logistic-footer__slogan-block {
    align-self: center;
    width:31.5rem;
    padding:2.4rem;
    margin-top: 3rem;
    background-color: #e6b82e;
}

.logistic-footer__slogan-text {
    color:#fff;
    font-size: 2.5rem;
    font-family: "Proxima Nova Rg", sans-serif;
}

.logistic-footer__symbols {
    padding: 0 14rem 0 6rem;
}

.logistic-footer__symbols-item:first-child {
    margin-left: 0;
}

.logistic-footer__symbols-item:last-child {
    margin-right: 0;
}

.logistic-footer__symbols-img {
    display:block;
    margin: 0 auto 2rem;

}
.logistic-footer__symbols-text {
    display: block;
    text-align: center;
    width:90%;
    margin: 0 auto;
    font-family: "Proxima Nova Rg", sans-serif;
}


.icon1 {
    width:9rem;
    margin-top: 1.4rem;
}

.icon2 {
    width:7rem;
}

.icon3 {
    width: 8rem;
    margin: 0 auto 1rem;
}

/* team block */
.team__header {
    width:23.28rem;
    margin-top: 10.8rem;;
    line-height: 0.9;
    display:block;
}

.team__sub-persons-block {
    flex-direction: row;
}

.team__persons,
.team__sub-persons {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-top: 5.5rem;
}

.team__sub-persons {
    flex-direction: column;
    min-height: 33rem;
}

.team__persons-item {
    text-align:center;
    margin-left: 1rem;
}

.team__person-info {
    margin-left: 2rem;
}

.team__person-img {
    width:21rem;
}

.team__person-name {
    display: block;
    text-align: left;
    font-size: 2.1rem;
    color:#000;
    font-family: 'FuturaDemiC', sans-serif;
    margin-top: 2rem;
}

.team__person-speciality {
    display: block;
    text-align: left;
    font-size: 1.2rem;
    color:#000;
    font-family: 'Proxima Nova Rg', sans-serif;

}

.team__description {
    width:100%;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 6.3rem;
    flex-direction: row;
}
.team__description-item {
    display:block;
    width:29.2rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.26rem;
    line-height: 1.8;
    margin-right: 1rem;
}

.team__description-item:last-child {
    margin-right:0;
}

.team__sub-persons .team__person-img {
    width: 14rem;
}

.team__sub-persons .team__person-name {
    font-size: 1.6rem;
}

.team__sub-persons .team__person-speciality{
    font-size: 1rem;
}


/* feedback */

.feedback__header {
    width:23.28rem;
    margin-top: 4.8rem;
    line-height: 0.9;
    display:block;
}

.feedback_sub-block {
    padding: 2rem 0;
    margin-top: 2rem;
}

.feedback__sub-header {
    display: block;
    font-size: 2.5rem;
    width: 59rem;
    line-height: 1.5;
    font-family: "Proxima Nova Rg", sans-serif;
    font-weight: 700;
    color: #46443f;
}

.feedback_drag-drop-img {
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 45rem;
    height:100%;
    flex-direction: column;
    justify-content:space-around;
}

.feedback__content {
    margin-top: 4rem;

}

.feedback__content-item_stretch {
    align-self: stretch;
}

.feedback__button {
    margin-top: 2rem;
    padding: 0.3rem 2.4rem;
    font-size: 1.6rem;
}
.feedback__text {
    color: rgba(70, 68, 63, 0.7);
    font-family: "Proxima Nova Rg'", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 29px;
    text-align: center;
    width:27rem;
    margin-bottom:4rem;
}
.feedback__img {
    width:14rem;
    height:12rem;
    margin-top:6rem;
}

/* contacts */
.contacts {
    margin-bottom: 6rem;
}
.contacts__header {
    width:23.28rem;
    margin-top: 8.8rem;
    line-height: 0.9;
    font-family: 'FuturaDemiC', sans-serif;
    display:block;
}

.contacts__map {
    margin-top: 3rem;
}

.contacts__icon {
    width:16.3rem;
    height:6rem;
    margin-top: 3.8rem;
}

.contacts__list {
    margin-top:2rem;
}

/*  quiz */
.quiz {
    position: fixed;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    background-position-x: 100%;
    background-size: 60% 100%;
    background-repeat: no-repeat;
    opacity:0;
    transition: top, opacity 1s ease-in-out;
    padding: 10.6rem 26.2rem;
}

.quiz_open {
    overflow:hidden;
}

.quiz_opened {
    top:0;
    opacity:1;
    z-index: 100;
    transition: top, opacity 1s ease-in-out;
}

.quiz__content-items {
    width: 49.8%;
    flex-direction: column;
}

.quiz__content-items_stretch {
    align-self: stretch;
}

.quiz__img-block {
    padding: 5rem 0;
    border: 1px solid #dcdcdc;
    height:100%;
}

.quiz__mobile .quiz__img-block {
    display: none;
}

.quiz__img{
    width: 100%
}

.quiz__active-block {
    width:100%;
}

.quiz__active-item {
    height: 5px;
    background-color: #dcdcdc;
    width: 24%;
    transition: width .5s ease-in-out;
}

.quiz__active-item_full {
    width:25%;
}

.quiz__active-item_cur {
    background-color: #e6b82e;
}
.quiz__question{
    padding: 1.8rem 3rem;
}


.quiz_number {
    display:block;
    font-family: 'Proxima Nova Rg', sans-serif;
}

.quiz__head {
    display:block;
    font-family: 'FuturaDemiC', sans-serif;
    font-size: 2.8rem;
    line-height: 1.2;
    margin-top: 2rem;

}

.quiz__description {
    display:block;
    font-family: 'Proxima Nova Rg', sans-serif;
    margin-top: 2rem;
}

.quiz__select {
    width: 100%;
    height:3.7rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    padding: 0.5rem 1rem;
    border:2px solid #dcdcdc;
    margin-top: 2rem;
    display:block;
    border-radius: 5px;
    cursor: pointer;
}

.quiz__button-block {
    margin-top: 2rem;

}

.quiz__select_active {
    border-color: #e6b82e;
}

.quiz__btn {
    font-size: 1.6rem;
    padding: 0.2rem 5rem;
}
.quiz__btn_black,
.quiz__btn_black:hover {
    color:#000;
}

.questions {
    min-height: 10rem;
    flex-direction: column;
    justify-content: flex-start;
}


.question__header {
    margin-top: 10.8rem;;
    line-height: 0.9;
    font-family: 'FuturaDemiC', sans-serif;
    display:block;
}
.question__header_mobile {
    display:none;
}

.question__sub-header {
    display: block;
    font-size: 1.8rem;
    margin-top: 2rem;
    line-height: 1.5;
    font-family: 'FuturaDemiC', sans-serif;
}
.question__btn {
    margin-top: 4rem;
    color:#000;
    padding: 0.5rem 3rem;
    font-size: 1.6rem;
}

.question__btn:hover {
    color:#000;
}

/*  footer */
.footer{
    width:100%;
    height: 8.2rem;
    background-color: #fbfbfb;
    color:#000;
    padding: 2rem 4rem !important;
}

.footer__icon {
    width:10rem;
}

.footer__text {
    display:block;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-size: 1.4rem;
    margin-top: 1rem;
}

/* mobile footer */
.mobile-footer {
    display:none;
    flex-direction: column;
}

.mobile-footer__map {
    height:30rem;
    margin-bottom:2rem;
}

.mobile-footer__map-img {
    width:100%;
    height:100%;
}

.mobile-footer__list {
    width:40%;
}

.mobile-footer__text {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 1.5rem;
}

.mobile-footer__icon {
    width:14.3rem;
    height:6rem;
    margin: 2rem 0;
}

/* form */
.form{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Proxima Nova Rg", sans-serif;
}

.form__input {
    padding: 0.5rem 1.8rem;
    width: 45rem;
    height: 4rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 2.6rem;
}

.form__input:first-child {
    margin-top:0;
}

.form__input_textarea {
    resize:none;
    height: 10.8rem;
}

/* list with icons*/
.iconed-list {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    padding:0;
}

.iconed-list__item {
   margin-top:2rem;
}

.iconed-list__item-img {
    width:3.2rem;
    height:3.2rem;
    display: inline-block;
    margin-right: 3rem;
}

.iconed-list__item-text {
    font-family: "Proxima Nova Rg", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
}


/* modificators */
.marged {
    margin-top: 4rem;
}

.not_marged {
    margin:0;
}

.width-fixed {
    max-width: 11rem;
}
.not_padded {
    padding:0;
}

/* styles for support */

.backgrounded {
    background-image: url("../img/history/Pic_1.png");
    background-size: cover;
    min-height: 64.8rem;
}

.backgrounded-team {
    background-image: url(../img/team/bg.png);
    background-size: 100% 22rem;
    background-position-y: 63%;
    background-repeat: no-repeat;
}

.backgrounded-quiz {
    background-image: url(../img/quiz/bg_pic.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
}

.wood {
    position: absolute;
    right: 0;
    top: 13rem;
    background-image: url("../img/materials/wood.png");
    height: 67rem;
    width: 38.1rem;
    background-size: cover;
}

.safety__child {
    display:none;
    background-image: url(../img/safety/child.png);
    height: 30rem;
    width: 100%;
    background-size: contain;
}

.auto_img {
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/logistic/pic1.png");
    height: 76rem;
    width: 45.1rem;
    background-size: cover;

}

.prev::before {
    content: '‹';
}

.next::before {
    content: '›';
}